[2019-03-23 06:26] kameshsampath opened #2 "Improving Quarkus Maven README"
Improving Quarkus Maven README to reflect the properties and variables that it provides

[2019-03-23 06:33] kameshsampath opened #3 "Rebase Quarkus Maven image"
Rebase Quarkus maven image to be using FROM from `centos-quarkus-native-image`

[2019-03-25 13:45] kameshsampath opened #5 "Integration tests for container images"
Integration test for the container images.

[2019-03-26 07:40] kameshsampath commented on #5
WIP

FYI @cescoffier

[2019-04-01 15:15] josequaresma opened #8 "Possibility to run unit tests when building native application?"
Hi,

Would it make sense to be able to run the unit tests when packaging the application in native mode? I can see that we are [skipping the tests](https://github.com/quarkusio/quarkus-images/blob/4c497867232554008519c559bb57001d66e9dd81/centos-quarkus-native-s2i/s2i/assemble#L11), but I think it could be useful to be able to run them? Maybe we could use an Environment variable?

[2019-04-05 18:22] machi1990 opened #10 "Upgrade image to GraalVM 1.0-rc15"
Sdk part is tracked by [1990](https://github.com/quarkusio/quarkus/issues/1900)

[2019-04-09 09:59] tqvarnst opened #11 "Use a fixed name for the application in the container"
Currently the S2I image the native output `*-runner` to a directory making the final native application name depending on the maven output. This makes it harder to create for example a chained build since input from a chained build cannot contain wildcards. I suggest changing the name of the application to `/home/quarkus/application`

[2019-04-09 10:01] vorburger commented on #11
This makes sense to me.

[2019-04-10 00:49] kdnakt commented on #10
It seems that we can close this issue now?
https://github.com/quarkusio/quarkus-images/tree/graalvm-1.0.0-rc15

[2019-04-11 17:36] vorburger commented on #11
@tqvarnst can you close this issue - with the merge of #12 this is effectively done (in the `graalvm-1.0.0-rc15` branch) - agreed?

[2019-04-11 17:38] tqvarnst commented on #11
Fixed in branch 1.0.0-rc15

[2019-04-11 17:38] #11 closed

[2019-04-11 17:43] vorburger opened #13 "S2I Java (non-native) is broken since Quarkus 0.13.0 or 0.13.1 (but worked in 0.12.0)"
@tqvarnst reports that the S2I Java support is broken. (That is the non-native regular pure Java one, based on the registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift S2I builder image; as documented in _Deploying the application as Java application in OpenShift_ on https://quarkus.io/guides/openshift-s2i-guide)

I can easily locally reproduce the problem Thomas reported, but it's not

[2019-04-11 17:45] #10 closed

[2019-04-11 17:46] vorburger opened #14 "CI with integration tests of (all, "supported") Quarkus Docker images"
#13 made me think that, in an ideal world, we should have CI with integration tests of (all, "supported") Quarkus Docker images ... so that should, ultimately, include the:

1. Native S2I (whose sources are here in this repo)
2. Java S2I (based on `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift`)
3. Q: any non-S2I support Docker base images we produce here?

@cescoffier @tqvarnst

[2019-04-11 17:48] vorburger commented on #13
we don't need a full OpenShift, this reproduces it (which BTW makes me think that we should do #14):

    sudo dnf install source-to-image
    s2i build https://github.com/quarkusio/quarkus-quickstarts.git registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift --context-dir=getting-started

[2019-04-11 17:52] vorburger commented on #13
The root cause for the problem is very likely that `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift` runs the build _Using Apache Maven 3.5.0 (Red Hat 3.5.0-4.3)_ (see below), but that something changed in `quarkus-maven-plugin` from 0.12.0 to 0.13.0 or 0.13.1 and we now require Maven 3.5.3+ ... we use the `maven-enforcer-plugin` for this in Quarkus' own `build-parent/pom.xml` (bu

[2019-04-11 18:30] cescoffier commented on #13
Yes, between 0.12.0 and 0.13.0+, the new bootstrap has been integrated.

[2019-04-11 18:32] cescoffier commented on #13
We actually always said we needed Maven 3.5.3+, so now the question is how to get an updated builder image (3.5.0 is more than 2 years old! - https://repo.maven.apache.org/maven2/org/apache/maven/apache-maven/3.5.0/)

@tqvarnst Anything you can do?

[2019-04-11 18:33] vorburger commented on #13
It's much more "fun" than that ... and has nothing to do with S2I or `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift` per se - but with the CentOS / RHEL packaged mvn! :sob: To keep this issue focused on a solution for the S2I build, I'll fork out further analysis and discussion of the root cause into https://github.com/quarkusio/quarkus/issues/2014.

[2019-04-11 19:15] vorburger commented on #13
I can think of 3 options we have here:

1. [support the Maven wrapper in the Java S2I Builder image](https://github.com/jboss-container-images/openjdk/issues/68) - this would become a non-issue
2. "fix" the version of Aether used in the (not really) "3.5.0" in `openjdk18-openshift` (unrealistic?)
3. upgrade the Maven version in `openjdk18-openshift` from "3.5.0" (?) to 3.5.3 (needs testing...)
4.

[2019-04-12 07:22] cescoffier commented on #13
4 is a no go at all, we have always said we use a _recent_ version of Maven because of the internals of Maven that have changed and we need them (Aether is only one of them).

1 should be "easy enough" I would say.

[2019-04-16 03:05] rafaeltuelho commented on #13
Got the same error today with `0.13.2`:

Look the s2i () build output:

[code]

[2019-04-16 06:02] cescoffier commented on #13
@rafaeltuelho it's expected, we need a new version of Maven in the image.

@vorburger the Java S2I is NOT developed by Quarkus and is not in this repository. It's something that needs to be moved to the Java builder image itself.

[2019-04-18 12:43] xstefank opened #15 "Create provided base image for distroless image"
I would like to have option similar to:

`oc new-build quay.io/redhat/ubi-quarkus-native-runner --binary --name=quarkus-quickstart -l app=quarkus-quickstart`

but for distroless image.

[2019-04-29 13:38] Sanne opened #17 "Document how to contribute"
I wanted to send a PR to upgrade to GraalVM rc16 but it seems master doesn't include any of the recent changes which I can see in other recent tags (such as rc14 and rc15).

What's the process? Please document it.

[2019-04-29 13:38] Sanne opened #18 "Release images for GraalVM rc16"

[2019-04-29 14:59] cescoffier commented on #18
Images deployed!

[2019-04-29 14:59] #18 closed

[2019-04-29 15:01] cescoffier commented on #17
I've provided a small README with the process. Let me know.

[2019-04-29 15:01] cescoffier commented on #17
Note about the branching model:

The constraint comes from Quay (building automatically the images). The branch name is the image _version_ / _tag_

[2019-04-29 16:32] Sanne commented on #17
regarding point 2# "create a new branch with the right name (graalvm-1.0.0-rcXX)" :

I understand one should start from the previous tag (branch) ? What's the role of the master branch?

Also: when I forked it this morning, the default branch was set to the rc14 version (while rc15 was the latest); I see you switched now to rc16 as the default. Could you add a note for maintainers about how this i

[2019-05-02 21:17] luszczynski commented on #13
So, do we have any recommended workaround?

[2019-05-13 09:16] tqvarnst commented on #13
The recently released [OpenJDK 11 based on RHEL 8](https://access.redhat.com/containers/?tab=images#/registry.access.redhat.com/openjdk/openjdk-11-rhel8) use Maven 3.5.4, which should work fine with Quarkus application. After some verification, I will update the guides to use this image instead.

[2019-05-30 00:53] rafaeltuelho commented on #13
@tqvarnst, I'm not sure if this was already documented... But just to add that you need some additional steps in order to perform an s2i for quarkus using the `openjdk-11-rhel8` image:

* Create an image pull secret using your red hat account

[code]

* Import the `openjdk/openjdk-11-rhel8` image stream
[code]

* create an app using:

[code]

[2019-06-07 11:42] cescoffier commented on #17
Just an update, we are currently changing completely how the images are build to:

1. ease contributions
2. ease maintenance

It's going to use cekit and work has already been started (https://github.com/cescoffier/quarkus-images/tree/quarkus-cekit-poc)

[2019-07-01 11:49] rmpestano opened #24 "java.lang.UnsatisfiedLinkError: /opt/graalvm/jre/lib/amd64/libfontmanager.so"
**Describe the bug**

Hi folks, after upgrading to Quarkus 0.18 I'm getting the error below during native image build:

[code]

Locally, using graalVM I made it working by instaling this package on ubuntu 18.04:

[code]
source: http://xhyumiracle.com/error-while-loading-shared-libraries-libfreetype-so-6/

**To Reproduce**

Follow instructions on this repo: https://github.com/rmpestano/quarkus-myfa

[2019-07-15 09:22] kameshsampath opened #26 "Configurable `workingDir` with s2i images"
The current s2i assemble script does use `cd /tmp/src` as the path before triggering the maven build, it will be nice to have the `/tmp/src/` configurable to allow builds using the image to set them via env variable.

e.g. SRC_DIR=${SRC_DIR:-'/tmp/src'}

CC: @cescoffier

[2019-07-25 12:15] sjbylo commented on #13
The above steps worked for me just fine.  But, it's not yet documented on the site: https://quarkus.io/guides/openshift-s2i-guide#deploying-the-application-as-java-application-in-openshift

[2019-07-25 14:31] vorburger commented on #13
@sjbylo you could send a PR? ;-)

[2019-07-25 19:16] rafaeltuelho commented on #13
@vorburger in which repo these guides reside?

https://github.com/quarkusio/quarkusio.github.io or https://github.com/quarkusio/quarkus/tree/master/docs/src/main/asciidoc ?

[2019-07-26 07:13] cescoffier commented on #13
@rafaeltuelho you need to open a PR against https://github.com/quarkusio/quarkus/tree/master/docs/src/main/asciidoc. It will be merged and pushed to the web site during the release process.

[2019-08-20 07:59] tqvarnst opened #29 "Minimal S2I build that support binary deployments"
I've talked to some customer using Quarkus on OpenShift and a common pattern is to have a build infrastructure outside or inside OpenShift where artifacts like JARs and native are built outside in a separate flow from S2I. That could be to for example build the native using a local container or building it in Jenkins or Tekton. Having a S2I binary based on the UBI 7 or UBI 8 would make it much eas

[2019-08-20 08:38] cescoffier opened #30 "S2I - Fix how is started the application to capture shutdown signal"
From zulip:

[code]

Should be:

[code]

So, the java process receives the terminate signal from the platform, Kube.

[2019-08-20 15:41] cescoffier commented on #29
For the record, @tqvarnst started working on something: https://github.com/tqvarnst/quarkus-binary-s2i

[2019-08-20 17:45] #30 closed

[2019-08-20 17:46] cescoffier commented on #26
It has been fixed.

[2019-08-20 17:46] #26 closed

[2019-08-21 18:07] #29 closed

[2019-09-04 06:36] cmoulliard opened #35 "Link to the READMEs are wrong like to quay repo too"
## Issue

Link to the READMEs (GraalVM Native S2I,centos-quarkus-maven ) within the README.me home page are wrong

### Quarkus.io GraalVM Native S2I
For more information about this image, please refer its module README: --> WRONG Link **GraalVM Native S2I**

### Centos + GraalVM + Maven Image
For more information about this image, please refer its module README: --> WRONG Link **centos-quarkus-mav

[2019-09-04 06:57] cmoulliard opened #36 "S2I command is not correct anymore"
## Issue

The following command documented under `modules/quarkus-native-s2i-scripts/README.md` don't work and should be updated

[code]

FYI : @cescoffier

[2019-09-04 07:02] cmoulliard commented on #36
I suggest to use the image released on quay and the quickstart

[code]

[2019-09-04 07:03] cescoffier commented on #36
The readme have not been completely updated to Quay. There is a pending PR for the new S2I (binary)

[2019-09-04 07:09] cmoulliard commented on #36
FYI, the build is failing using the s2i image and getting started example as I mentioned and you also included in your PR

[code]

[2019-09-04 07:14] cmoulliard commented on #36
Can we do that using an ENV var when we create the BuildConfig ? Which one should we configure hen ?

[2019-09-04 07:47] cmoulliard commented on #36
FYI: The s2i build is running on a ocp3 cluster having 128GB of memory.

[2019-09-07 12:08] #35 closed

[2019-09-07 12:09] cescoffier commented on #36
I've updated the instructions to refer to the quarkus documentation that contains up to date instructions.

[2019-09-07 12:09] #36 closed

[2019-09-09 10:13] cmoulliard opened #37 "Wrong link under quarkus-images/modules/quarkus-native-s2i-scripts/README.md"
## Issue

There is still a badly displayed link (see screenshot) which is wrong when you click on it as Quarkus web site replies with 404

![Screenshot 2019-09-09 12 11 36](https://user-images.githubusercontent.com/463790/64522801-2459cd00-d2fb-11e9-9bad-81cde0ab0095.png)

[2019-09-09 11:55] cescoffier commented on #37
oh, that's just because I can't write a markdown link....

[2019-09-09 11:58] #37 closed

[2019-11-14 10:57] sunix commented on #13
@cescoffier @rafaeltuelho would you open a PR ? i just been through that problem

[2019-11-14 11:00] cescoffier commented on #13
The issue is that the current Java S2I uses an outdated version of Maven. This is going to be handled with the new Java S2I.

[2019-11-18 09:40] sunix commented on #13
I am using `fabric8/s2i-java` image as a workaround.

[2020-01-31 22:55] ChetHosey opened #52 "cluster proxy settings cause error"
Using a cluster proxy seems to cause issues with the S2I build, tested using ubi-quarkus-native-s2i:19.3.1-java8. We've had success with the eap72-openshift image on the same cluster.

[code]

[2020-02-01 08:01] cescoffier commented on #52
It seems to be an issue with Maven not able to connect to Maven Central.

[2020-02-01 08:22] ChetHosey commented on #52
Right, it doesn't seem to be handling the proxy settings.

    Caused by: java.net.UnknownHostException: http://proxy.example.com: Name or service not known

The protocol portion of the URL isn't something I'd expect to see in a hostname lookup.

[2020-02-12 20:34] rsearls commented on #13
This appears to be a continuing issue.  I am using quarkus 1.3.0.Alpha1,
maven  3.6.0 and jdk 11.0.2.

[2020-02-16 19:26] cescoffier opened #53 "Update to Maven 3.6.3 and Gradle 6.1.1"

[2020-02-17 14:32] #53 closed

[2020-02-17 14:33] cescoffier commented on #2
Outdated structure - please re-open with the new structure.

[2020-02-17 14:33] #2 closed

[2020-02-17 14:34] #3 closed

[2020-02-17 14:45] cescoffier commented on #13
@rsearls it works with the latest registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift (providing maven 3.6.1).

Be sure to pull a recent version of the builder image. I used the image with the id: 91099d6db4c7

[2020-02-17 14:45] #13 closed

[2020-02-17 14:46] cescoffier commented on #14
CI has been implemented

[2020-02-17 14:46] #14 closed

[2020-02-17 14:47] cescoffier commented on #17
The README contains the required details.

[2020-02-17 14:47] #17 closed

[2020-02-28 13:02] adambkaplan commented on #52
@cescoffier the proxy settings are provided to the quarkus s2i build via the `HTTP_PROXY`, `HTTPS_PROXY`, and `NO_PROXY` environment variables. If Quarkus expects something different, the assemble and run scripts should make the appropriate adjustments.

[2020-03-02 07:36] cescoffier commented on #52
No quarkus does not expect anything different.

[2020-03-02 07:37] cescoffier commented on #52
However, here we are referring to Maven proxy not Quarkus proxy.

[2020-03-02 18:19] ChetHosey commented on #52
[code]

`<protocol>http</protocol>         <host>http://proxy.example.com</host>         <port>8080</port>`

This is wrong. The host value should not include the protocol. I've confirmed that this issue is still present in 20.0.0-java8.

[2020-03-11 11:02] iocanel opened #58 "The native image binary should retain its original name"
We should investigate if the following [line](https://github.com/quarkusio/quarkus-images/blob/master/modules/quarkus-native-binary-s2i-scripts/s2i/assemble#L18) actually needs to rename the native image binary, or its a matter of convenience.

On the quarkus tooling side, it does seem a little bit awkward and we were wondering if we could change that.

[2020-03-11 11:40] edeandrea opened #59 "s2i images don't respect a project's gradle wrapper nor any overridden project settings"
The `assemble` script in the `quarkus-native-binary-s2i-scripts` module don't respect a project's Gradle wrapper

[code]

This script always assumes that a build's output directory is `build` and uses the `gradle` script instead of the `gradlew` script. By not using `gradlew`, the image forces the build to a particular Gradle version instead of using the version that the project itself is declarin

[2020-03-11 11:43] edeandrea opened #60 "s2i native image builder doesn't respect multi-module project"
The `assemble` script in the `quarkus-native-s2i-scripts` builder image always assumes that an artifact is in the `target` directory of a maven build.

[code]

Using environment variables a user can tell maven to only build a sub-module, and in that case the built artifact won't be in `target`. Instead it'll be in `<sub_module_path>/target`.

See an ongoing discussion in https://github.com/kenfinn

[2020-03-11 12:51] Ladicek commented on #58
From the dicsussion in https://github.com/quarkusio/quarkus/pull/7749, I thought it's a rename, but it looks like it's a copy? (I wonder why not a symlink...) If it's a copy, then the `quarkus-container-image-s2i` extension could just ignore it and invoke the original binary?

Ah, probably not, there's the `chmod +x` part to it...

[2020-03-12 06:48] cescoffier commented on #58
It copies the artifacts to the working directory. An alternative would be a symbolic link, a move would also be possible.

So, what's the real need?  Having the original name? Not moving it to this `QUARKUS_HOME?

And yes @Ladicek seems like there is too much `chmod +x` :-)

[2020-03-12 07:14] Ladicek commented on #58
I think we should retain the original name.

(I didn't notice it copies from `/tmp/src` to `/home/quarkus`. That makes sense, though it should probably be either a move or a symlink.)

[2020-03-19 18:32] dicastro opened #61 "error while loading shared libraries: libstdc++.so.6"
I've got the this error when running the container with the image `cescoffier/native-base:latest`:

`./application: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory`

Is it because there is missing some library in the image? Could it be solved by compiling the image to avoid the use of libstdc++.so.6?

I've compiled the application wit

[2020-03-22 21:46] muratkarakas commented on #61
Hi,
I have  the same issue. With simple rest api dependecies it works but after adding  quarkus-smallrye-opentracing got the same error.

[2020-03-23 06:09] dicastro commented on #61
That's true, the first time I tried to build a native image was with a simple rest api. After that I added more dependencies and functionality, and the native build started to fail.

I don't know which dependency is causing the issue. I thought that if I use only the quarkus dependencies, native build will work always.

This is my current list of dependencies:

`
<dependency>
    <groupId>io.quark

[2020-03-23 06:49] cescoffier commented on #61
The distroless base does not include `libstdc++.so.6`, we would need build a new base that includes it.

[2020-03-23 07:04] dicastro commented on #61
And would it be possible to add it?

[2020-03-23 07:08] cescoffier commented on #61
Yes, just need to be added in https://github.com/quarkusio/quarkus-images/blob/master/distroless/packages.bzl.

[2020-04-06 16:48] sunix opened #63 "1.3.1-Final quarkus projects are not working anymore with the latest release of centos-quarkus-maven"
I have been trying to build https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started
- which has just been updated to 1.3.1-Final
- with  [quay.io/quarkus/centos-quarkus-maven:20.0.0-java8](https://quay.io/repository/quarkus/centos-quarkus-maven)

Before the version update, the maven build was working fine
Now it is failing:
[code]

Looks like the version 1.3.1-Final is requiri

[2020-04-06 16:52] cescoffier commented on #63
Wondering why it's not fixed with https://github.com/quarkusio/quarkus-images/pull/54.

[2020-04-06 16:57] cescoffier commented on #63
@sunix can you check when you pull the image?

[code]

[2020-04-06 17:34] sunix commented on #63
@cescoffier strange, I am checking with @svor as he reported that problem https://github.com/eclipse/che-devfile-registry/pull/220#pullrequestreview-388089776
Will keep you updated.

[2020-04-07 08:08] svor commented on #63
just checked it again and can confirm that it works nice

[2020-04-07 08:09] cescoffier commented on #63
Thanks for the feedback!

[2020-04-07 08:10] #63 closed

[2020-04-08 20:19] bparees commented on #52
in that case i think it's what @adambkaplan said, the assemble script is doing the wrong thing as it turns the PROXY env vars into the maven config, so the quarkus s2i image assemble script needs to be fixed.

[2020-04-09 16:02] cescoffier commented on #52
I've located the issue:
[code]

The cut is wrong, it should be:
[code]

[2020-04-21 09:25] cescoffier opened #68 "Build both 19.x and 20.x images"

[2020-04-21 11:08] #52 closed

[2020-04-23 09:22] #68 closed

[2020-05-03 09:56] andreabattaglia opened #71 "library initialization failed - unable to get max # of allocated fds"
Hello everybody,

more than an issue, this is a support request, cause I'm not sure whether I'm missing anything in the container image creation.

In order to build the container image for aarch64, I've created the following environment:

- Host:
OS: Fedora 32 amd64
hypervisor: QEMU/KVM
- Guest:
CPU: aarch64/Cortex-A53 - 4 core assigned
RAM: 8Gb
OS: Fedora 32 Minimal aarch64
The remaining meaningf

[2020-05-03 11:58] cescoffier commented on #71
I don't have any experience with aarch64, @dmlloyd By any chance, do you know if it's supported? It seems that `gu` cannot be run.

[2020-05-03 16:16] dmlloyd commented on #71
It ran without any problem on my physical aarch64 system.  I think you are correct that it must be some sort of permissions issue.  The GraalVM error gives no hints unfortunately; it simply seems to kill the process with SIGABRT (i.e. using the `abort()` syscall) without printing the errno message.

[2020-05-03 16:45] andreabattaglia commented on #71
Guys,
Thanks for replying so quickly.
A couple of additional questions:
Any idea who I could reach out to to get specific support on this?
@dmlloyd any chance you could share the outcome of the successful execution of the build on aarch64?

[2020-05-04 01:02] dmlloyd commented on #71
I haven't tried to build a container image; I only ran the `gu` command.  I'm not a Docker expert unfortunately.

[2020-05-04 08:01] cescoffier opened #72 "tooling 20.0.0-java11 not produced anymore"
Disk space issue again...

[2020-05-09 11:54] cescoffier opened #74 "The quarkus-native-s2i-scripts does not handle gradle correctly"
The Gradle command from quarkus-native-s2i-scripts does not seem right or is very outdated.

[2020-05-17 08:58] cescoffier commented on #72
This has been fixed - was a disk space issue.

[2020-05-17 08:58] #72 closed

[2020-05-17 12:33] #74 closed

[2020-07-02 17:56] iabughosh opened #80 "Upgrading some libraries"
Dears,
How can I update some libraries like for example (glibc) ? Can I execute some update commands from Dockerfile ? If yes please share them.

[2020-07-03 05:57] cescoffier commented on #80
If you use the generated images as parents yes, you can update any dependency.

[2020-07-03 07:36] iabughosh commented on #80
Do you have an example? It would be much appreciated!

[2020-07-03 08:29] cescoffier commented on #80
Can you tell me what you are trying to do, and which image want to use and extend?

[2020-07-03 19:19] iabughosh commented on #80
I have a Quarkus service that I want to build with distroless image and maybe other services. I scanned my image with [trivy tool](https://github.com/aquasecurity/trivy) and the report shows that there is some major vulnerabilities that can be resolved by updating some libraries like (glibc). I built packaged my service using the below command :
`./mvnw package -Pnative -Dquarkus.native.container-

[2020-07-07 13:06] cescoffier commented on #80
so it's related to the distroless image. It's a bit more tricky, you need to build a new distroless base image with the library you need. Look at the instructions from https://github.com/quarkusio/quarkus-images/tree/master/distroless (not very up to date, I'm afraid).

[2020-07-09 15:13] jmtd opened #81 "centos-quarkus-maven still referenced (deprecated?)"
The image centos-quarkus-maven is still listed in the README file (and there are a few other references in the repo to it)

I think (since #22) you no longer base on centos, and [the quay.io pages](https://quay.io/repository/quarkus/centos-quarkus-maven?tag=latest&tab=tags) suggest it has not been updated (due to the number of security issues) despite the "last modifed" of 5 days ago (at the time

[2020-07-09 16:21] cescoffier commented on #81
We still produce the centos-quarkus-maven image (aka the tooling image).
The descriptor is the following: https://github.com/quarkusio/quarkus-images/blob/master/quarkus-tooling.yaml

It uses centos:7 which, unfortunately, has some security issues. I've tried to switch to centos:8 without success.

[2020-07-10 06:17] kronostools commented on #61
After all this time I've come back to the subject. Which version of bazel should be used to build the image?

With version 3.3.1 the image compilation does not work for me. I've go this error:

`packages.bzl:3:1: file '@distroless//package_manager:package_manager.bzl' does not contain symbol 'dpkg_src'`

[2020-07-10 07:08] cescoffier commented on #61
I'm using the same version.
However, I may have used a different (older) version when I did this work.

Le ven. 10 juil. 2020 à 08:17, kronostools <notifications@github.com> a
écrit :

[2020-07-12 13:40] serrodcal commented on #61
I tried to solve this error in a [fork of the quarkus-images repo](https://github.com/serrodcal/quarkus-images), but unfortunately I got another error I don't know how to solve:

[code]

All the changes I did are in this [commit](https://github.com/serrodcal/quarkus-images/commit/3f897ae20f9f5e2a565b210130ff7c6f56a1fffb), just in case someone know how to solve it...

[2020-07-13 10:31] xtaixe commented on #61
Hi, FYI I tried to build a distroless image using bazel and the Google repo some time ago and I gave up... it seems some of the things in their repo around the package manager are internal and there's some cyclic dependency, so you need to prebuild the package_manager with `bazel build //package_manager:dpkg_parser.par` (or something like that and use --cpu=darwin if on Mac I think, I don't rememb

[2020-07-22 16:29] kronostools commented on #61
Hi again,

I've managed to build a distroless image. Instead of using the distroless image of quarkus (https://github.com/quarkusio/quarkus-images/tree/master/distroless) I've used the distroless image of google (https://github.com/GoogleContainerTools/distroless)

To build the image I've used Ubuntu 16.04.4 under the WLS of windows. In Ubuntu, I've installed bazel (3.2.0, required by the google d

[2020-07-29 10:10] galderz opened #83 "Provide multi-arch images"
Trying to use image on aarch64 and it's not working:

[code]

The image descriptor is ~wrongly~ assuming all images are for `amd64`, see [here](https://github.com/quarkusio/quarkus-images/blob/master/modules/graalvm/20.1.0-java11/module.yaml#L9).

Since GraalVM offers aarch64 downloads, should we provode complementary images for that arch?

[2020-07-30 04:30] evgeniysharapov opened #84 "Unsupported Encoding Exception JIS_X_0212"
I am trying to build native executable for a simple java application with quay.io/quarkus/ubi-quarkus-native-image:20.1.0-java11
What I get is an error

[code]

What could be done to alleviate it ? This seems like it could be something other people stumbled upon. My application has nothing to do with charsets or Japanese.

[2020-08-07 12:58] quintesse opened #85 "s2i builder should use commonly used paths"
Most official S2I builder images created by RH put the S2I scripts in `/usr/libexec/s2i` while the Quarkus S2I builders use a different path `/usr/local/s2i`.

This is indeed supported by S2I but it seems that some tools (in my case http://quay.io/openshift-pipeline/s2i which is an image that  runs `s2i`) just assume the paths are always the same and have them hard-coded. This might also be becaus

[2020-08-10 11:08] maxandersen commented on #85
@cescoffier any comments on this ?

[2020-08-10 11:43] quintesse commented on #85
He's on PTO :-)

[2020-08-10 12:22] quintesse commented on #85
Btw, to reproduce one has to use the `--as-dockerfile` option, just running `s2i build` works fine. But when asking S2I to generate a Dockerfile it generates it with default paths. Not sure if that should be considered a problem with S2I or not.

[2020-08-11 05:33] galderz opened #86 "Default US-ASCII encoding in images too limiting"
It would appear to be `ANSI_X3.4-1968` or `US-ASCII` which is causing issues when native images produced in the image are used with other character encoding.

UTF8 is a much better default and resolves the issue. See https://github.com/quarkusio/quarkus/issues/11222 for more info.

[2020-08-11 05:34] galderz commented on #86
Btw, this affects all images, no matter whether GraalVM or Mandrel.

[2020-08-11 05:34] galderz commented on #86
Please assign issue to me.

[2020-08-11 05:51] rsvoboda commented on #86
Fix for this issue needs to be backported to product image.
@karm fyi, see also quarkusio/quarkus#11222

[2020-08-11 05:54] galderz commented on #84
The builder image seems to have a limiting default encoding (see https://github.com/quarkusio/quarkus-images/issues/86), so I don't know if you're impacted by that. There's a PR with a change that would fix things.

To be able to help further it'd be useful to have a reproducer or at least some info on what in your application could be triggering this.

[2020-08-17 06:55] #86 closed

[2020-08-17 07:57] cescoffier commented on #85
Ok, let's change the location

[2020-08-17 07:59] cescoffier commented on #85
Note: the openshift documentation and resources are using both locations:

* https://www.openshift.com/blog/create-s2i-builder-image
* https://github.com/openshift/source-to-image/blob/aca6e1b30336192ce99b409caf82c85cad84eeef/Dockerfile

[2020-08-17 09:29] quintesse commented on #85
Yeah, it's definitely supported to have different paths. Not sure if practise just isn't following theory or if tools like the one I mentioned are just broken.

[2020-08-17 09:44] #85 closed

[2020-08-17 09:45] cescoffier commented on #83
That would be great!

[2020-08-17 10:02] cescoffier commented on #83
@galderz which images should we provide for ARM?
For example, does it make sense for s2i and tooling?

[2020-08-18 13:16] galderz commented on #83
I'd start just with the GraalVM and Mandrel images (the equivalent of `ubi-quarkus-native-image` and `ubi-quarkus-mandrel`).

How much are the others used? `centos-quarkus-maven`, `ubi-quarkus-native-s2i` and `ubi-quarkus-native-binary-s2i`?

If you have any ideas on the naming I'd love to hear them too :)

@cescoffier can you assign this to me?

[2020-08-18 13:37] cescoffier commented on #83
it's all yours @galderz :-)

Others are not wildly used and I don't see the use case to use s2i on ARM.

[2020-08-18 14:37] zakkak opened #91 "Create major.minor (e.g. 20.1-java11) floating tag in quay for mandrel images"
As discussed in https://github.com/graalvm/mandrel/issues/95 we would like to have "floating" tags for mandrel images.

The floating tags would be based on the `major.minor` part of the tag and point to the latest `major.minor.micro.patch.Final` tag, i.e., `20.1-java11` would point to `20.1.0.1.Final-java11` today and later to `20.1.0.2.Final` when released.

Ideally this process should be automat

[2020-08-18 14:59] cescoffier commented on #91
yes, unfortunately right now we don't have such a support tin the bash script.

[2020-08-18 18:57] zakkak commented on #91
OK, then that would work just fine. I'll prepare a PR :)

[2020-08-19 06:20] #91 closed

[2020-08-19 13:42] cescoffier opened #94 "Rewrite build with jbang"
The scripts start to be slightly too complicated, and jbang would help a lot.

[2020-08-29 16:43] cescoffier commented on #94
This has been fixed with #97

[2020-08-29 16:43] #94 closed

[2020-10-06 08:10] springfan opened #103 "cp: cannot stat 'my-app-runner.jar': No such file or directory"
Regarding https://github.com/quarkusio/quarkus-images/blob/master/modules/quarkus-native-binary-s2i-scripts/s2i/assemble#L17

I put my jar in the path `${SRC_DIR}/native-image-runner/app-runner.jar`. Otherwise the `$(ls ${SRC_DIR}/*-runner` was not able to find my file.
[code]

When the app is placed in the `${SRC_DIR}/*-runner` dir how is the cp command supposed to work when it doesn't copy from

[2020-10-06 08:51] cescoffier commented on #103
Do you have a project I can try?

[2020-10-06 08:58] springfan commented on #103
It's a multimodule project in which I copy the jar of my quarkus build to the target folder that serves as input for my pipeline. That's why I'm not really sure about the structure of `SRC_DIR` and digged into the code. Can you provide an example as the following hierachies did not work:

[code]
[code]

[2020-10-06 10:36] springfan commented on #103
Recent log
[code]

[2020-10-06 10:38] springfan commented on #103
Recent log
[code]

[2020-10-06 10:38] springfan commented on #103
Recent log
[code]

[2020-10-06 12:36] tqvarnst commented on #103
I'm not getting what you are trying to do. the S2I binary build assumes that you already have a native executable build and not a JAR file. See https://github.com/quarkusio/quarkus-images/blob/master/modules/quarkus-native-binary-s2i-scripts/README.md. In the top of that it says: `This s2i takes as input the executable image you want to deploy and build a minimal image to execute it. Unlike the ub

[2020-10-08 17:13] tqvarnst commented on #103
Can we close this issue as "Works as specified"?

[2020-10-08 18:24] springfan commented on #103
Hi! Yes. Thank you for taking care.

[2020-10-08 18:24] #103 closed

[2020-10-14 22:26] AlyIbrahim opened #106 "Broken link to Quarkus documentation for S2I Build"
https://quarkus.io/guides/deploying-to-openshift-s2i

This link from README at ./quarkus-images/modules/quarkus-native-s2i-scripts.

This page was at Quarkus website before but I couldn't find it in the guides anymore.

[2020-10-15 09:48] cescoffier commented on #106
@geoand By any chance, do you know where it is now? It seems that the content has been replaced with the built-in feature, but that does not cover the _regular_ s2i build.

[2020-10-15 10:04] geoand commented on #106
I am pretty sure we removed it because we had just too many to deploy things to OpenShift and it was confusing for users...

[2020-10-15 10:08] cescoffier commented on #106
so, we don't have the instructions to run a regular s2i anymore? That is a bit annoying.

[2020-10-15 10:33] geoand commented on #106
Exactly. Not sure what we should do about it... The problem before was that with too many options people where getting confused...

[2020-10-21 20:44] AlyIbrahim commented on #106
I think it would be better if we can bring it back, may be restructuring the builds but I feel this info is important to be out

[2020-10-22 06:33] cescoffier commented on #106
@AlyIbrahim We are going to restore it. We are investigating to see what has been deleted and where it should be restored.

[2020-11-20 09:01] rsvoboda opened #112 "GraalVM/Mandrel 20.3 images: libfreetype.so.6: cannot open shared object file: No such file or directory"
I have hit `libfreetype.so.6: cannot open shared object file: No such file or directory` error when using GraalVM/Mandrel 20.3 images to compile project which uses graphics.

When running 20.3 GraalVM CE installed on my macOS the is no error in compilation.
(There is of course problem of no awt in java.library.path when hitting http://localhost:8080/ping which should be solved in Mandrel as mentio

[2020-11-20 09:26] Karm commented on #112
/me taking it

[2020-11-20 09:30] Karm commented on #112
I have a fix locally:

[code]

Gonna put it in in a PR for the quarkus-images.

Lemme try older versions too.

And perhaps we should add the dependency to documentation....

[2020-11-20 09:37] rsvoboda commented on #112
+1 for docs update

[2020-11-20 22:07] sherl0cks opened #114 "Mandrel 20.3.0.0.Beta1-java11: Could not find agent library native-image-diagnostics-agent"
Building a native image results in:
[code]

Issue is not present on mandrel 20.2-java11.

[2020-11-20 22:47] zakkak commented on #114
Hi @sherl0cks,
Did you use any special flags like `-Dquarkus.native.additional-build-args='--trace-object-instantiation=...'`?

[2020-11-20 23:09] sherl0cks commented on #114
@zakkak I did have that one but it broke for a different reason. When removed, I got this error. Here is my current setting:
`quarkus.native.additional-build-args=--initialize-at-run-time=java.awt.image.AreaAveragingScaleFilter,-H:DynamicProxyConfigurationFiles=dynamic-proxy.json,-H:ResourceConfigurationFiles=resources-config.json,-H:ReflectionConfigurationFiles=reflection-config.json,--report-uns

[2020-11-20 23:25] zakkak commented on #114
Oh, then it's probably `--report-unsupported-elements-at-runtime` that
needs the agent.

[2020-11-20 23:27] sherl0cks commented on #114
K will try without it and report back. Thanks for the quick replies @zakkak

[2020-11-21 23:20] sherl0cks commented on #114
OK so removing `--report-unsupported-elements-at-runtime` gets the image to build, but I still have AWT issues as described in https://github.com/graalvm/mandrel/issues/180. For now, leaving this issue open because it does seem to be a regression from 20.2 where `--report-unsupported-elements-at-runtime` works fine.

[2020-11-25 07:00] #114 closed

[2020-11-26 14:02] zakkak commented on #112
@rsvoboda FYI 20.3.0.0.Beta2 should work (see https://github.com/quarkusio/quarkus-images/blob/982f99857f1382457c49493f0ee99a987e9129ef/modules/mandrel/20.3.0.0.Beta2-java11/module.yaml#L26)

[2020-11-26 19:44] #112 closed

[2021-01-12 01:35] maxday commented on #61
Hi ! I have managed to build a distroless image : https://github.com/quarkusio/quarkus/issues/8974
@cescoffier

[2021-01-28 13:58] gas-stocktrader opened #129 "Latest centos-quarkus-maven image update results in Error: Detected a MBean server in the image heap."
After update to the centos-quarkus-maven:20.2.0-java11 on 27 January, application no longer builds with the following messages:
Same application was building and working successfully with the previous version of the given image.
Application code is instructed not to use jmx server, which was working previously, clearly indicating some braking change in this version of the image.

Error: Unsupporte

[2021-01-28 14:26] gas-stocktrader commented on #129
Configuration is set via:
[code]

which calls later setting objectName = null;

[code]

which is used in the jmxUnregister method from the stack
[code]

But since objectName  IS null the code getPlatformMBeanServer() is unreachable during the execution.

[2021-01-28 15:12] cescoffier commented on #129
I believe you would need an extension to disable JMX in jedis (note that Quarkus has a Redis extension already)
That being said, I don't know what changed in GraalVM that cause this issue. @galderz any idea?

[2021-01-28 16:25] gas-stocktrader commented on #129
You disable JMX in Jedis client simply by that line:
[code]
and as I wrote, it was working fine till yesterday, when image update was released, so I'm wondering what has changed and what could be a workaround for this.

[2021-01-28 17:46] galderz commented on #129
You'd have to generate image with `-Dquarkus.native.enable-reports` and then comb through the call analysis tree to find out why the path is now part of the universe. If you have a point where this didn't occur, you can compare the call trees.

What were you using before `centos-quarkus-maven:20.2.0-java11`? `centos-quarkus-maven:20.3.0-java11` is a more recent one.

[2021-01-29 10:08] gas-stocktrader commented on #129
I was and I still use ame tag - centos-quarkus-maven:20.2.0-java11, this was just change from:
(these are working ones)

sha256:bc024941b19b9155bd08e0737191a103c1fbe86bda24745c39860a107de75de5
sha256:272806f89c0c6faf09ade6d29e337f4a82b69926c248a4c056fd28cd03a46a4b

to (this one published on 27.01 is not working):
sha256:bb07bf059497802f179895a2acbc86b60a0d99a73c4c7ffc5cf6794f64b2af30

So you shoul

[2021-02-01 12:50] gas-stocktrader commented on #129
Looks like Quarkus Redis extension still doesn't support ssl (rediss scheme) ...
I'm getting the following exception when using `rediss:`
[code]

So any updates on the issues in the images? And I tried 20.3 image but with the same result.

[2021-02-01 12:56] cescoffier commented on #129
It does support ssl.
You may need to explicitly enable it in your application.properties:
[code]

[2021-02-01 14:48] gas-stocktrader commented on #129
I've added that property, but it doesn't make any difference. Maybe it expects URL in some strange from. My URL is like this in application.properties ( URL works fine with Jedis client):
[code]
It is reading that property, as if I put some non existing host I'm getting `UnknownHostException: No such host is known` instead of `connection was forcibly closed `

[2021-02-09 15:58] cescoffier commented on #61
closing as it's now merged.

[2021-02-09 15:58] #61 closed

[2021-02-12 10:37] zakkak opened #135 "GraalVM CE 20.3.1.2 and 20.1.0.2 released"
FYI GraalVM CE just released a new pico version

It looks like 20.3.1.1 and 21.0.0.1 update labsJDK, while 20.3.1.2 and 21.0.0.2 fixe some gu issues and a truffle/polyglot bug (https://github.com/oracle/graal/commit/dd7c66bf5d37c4965d25d4cd45404c32baea29c2)

[2021-02-16 13:31] #135 closed

[2021-02-17 10:39] andreabattaglia commented on #60
Having the same issue with my multi-module project.
To compile in jvm mode I'd use the following script

[code]
And the build-env ARTIFACT_DIR makes it possible to look for the binary into the specified directory.

Using the native image...

[code]

**ARTIFACT_DIR** or **BUILD_DIR** build-envs are ignored and I get the following error from the OCP build task:

[code]

[2021-02-18 06:48] #60 closed

[2021-03-02 12:39] cescoffier opened #140 "Re-enable s2i tests"
See #139.

[2021-03-21 16:36] cescoffier opened #141 "CI Build Broken due to microdnf failure"
[code]

I didn't have the time to investigate.

[2021-04-01 05:40] #141 closed

[2021-04-07 10:03] maxandersen commented on #81
fixed already.

[2021-04-07 10:03] #81 closed

[2021-04-07 10:03] cescoffier commented on #15
We now have a distroless image.

[2021-04-07 10:03] #15 closed

[2021-04-07 10:04] cescoffier commented on #5
Integration tests are done in the "tests" directory.

[2021-04-07 10:04] #5 closed

[2021-04-07 10:05] cescoffier commented on #84
Closing as we have now the "encoding" module

[2021-04-07 10:05] #84 closed

[2021-04-12 08:03] maxandersen opened #143 "automate raising issue on quay.io detected CVEs"
today @cescoffier manually goes through every page for each image, ie.

https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tab=tags

to check if any CVEs open.

We should automate that and have it open a quarkusio issue similar to how ci-ecosystem opens a issue to indicate issue.

[2021-04-20 13:46] cescoffier opened #145 "Produce images for GraalVM 20.3.2"
See https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.3.2

[2021-04-20 13:46] cescoffier opened #146 "Produces images for GraalVM 21.1.0"
https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.1.0

[2021-06-16 06:29] cescoffier commented on #146
Fixed.

[2021-06-16 06:29] #146 closed

[2021-06-16 06:29] cescoffier commented on #145
Fixed.

[2021-06-16 06:29] #145 closed

[2021-07-09 13:53] xtaixe opened #156 "Update Maven to 3.8.1"

[2021-07-11 18:36] cescoffier commented on #156
I believe you refer to the Centos-Quarkus-maven image. Note that this image is not maintained actively unfortunately.

[2021-07-12 09:37] #156 closed

[2021-07-12 10:26] xtaixe commented on #156
@cescoffier good to know... I'll see if we can use some other image for CI to build our app + run tests (Maven project). Let me know if you have any suggestions. Thanks.

[2021-07-12 21:25] alegug opened #158 "s2i native MVN_ADDITIONAL_ARGS"
Trying to build a native image usinng s2i but can't set my own settings.xml for authenticate my own repository. I saw this variable MVN_ADDITIONAL_ARGS in the mvn package assembly script but it does not the setting value. What I can see is that its not defined in the module.yml.
Could it be added?

[2021-07-13 06:05] cescoffier commented on #158
Adding it to the `module.yml` won't help. What are you trying to do? You can pass `MVN_ADDITIONAL_ARGS` as environment variables.

[2021-07-13 13:03] alegug commented on #158
Hi, Thanks for the fast response. What i am trying to do is compile and connect to a private package registry using s2i native image. I am trying to use my own settings.xml with my access token configuration. You are correct,  MVN_ADDITIONAL_ARGS work well, I made a typo and write MVN_ADDITIONAL_ARG without the las S. Thanks and sorry.

[2021-07-13 13:03] #158 closed

[2021-07-18 16:53] R-Lam opened #159 "can't specify memory limit on s2i native image"
Hi, I'm trying to use the ubi-quarkus-native-s2i image with memory limit to 4G defining the property:

quarkus.native.additional-build-args=-J-Xmx4G

And this is the command that the image build:

[code]

However when running on Openshift, the consumptions goes up to +5G even when -J-Xmx is set to 3G so I'm assuming that property is being ignored and obviously my build failed because the pod was k

[2021-07-19 07:01] cescoffier commented on #159
Did you try to set `quarkus.native.native-image-xmx` in your application.properties?

[2021-07-19 12:21] R-Lam commented on #159
Same result.

[2021-07-19 12:48] cescoffier commented on #159
The 137 indicates that you ran out of memory. You need to increase the memory not reducing it.

[2021-07-19 14:03] R-Lam commented on #159
So basically no way to limit memory at the cost of time mmm... Ok, thanks!

Will see if we can increase memory.

[2021-07-19 14:03] #159 closed

[2021-07-31 12:52] d3473r opened #164 "Unable to build on linux (Volume in Dockerfile)"
Hi,

i am unable to build a quarkus application with these base images as the build directory `/project` is defined as a volume here:
https://github.com/quarkusio/quarkus-images/blob/9a01a65bd8a49ae9b04ff2be2f9f43aa017f7ce0/quarkus-native-image.yaml#L36-L38

and here:

https://github.com/quarkusio/quarkus-images/blob/9a01a65bd8a49ae9b04ff2be2f9f43aa017f7ce0/quarkus-mandrel.yaml#L36-L38

I am using

[2021-08-13 09:54] jorsol opened #166 "Feature request: Base the distroless image on ubi8(-micro)"
https://www.redhat.com/en/blog/introduction-ubi-micro

Right now the `quarkus-distroless-image` is based on gcr.io/distroless/cc and copying libz.so.1 from debian, so the idea is to make use of ubi8-micro and standardize the Quarkus images to UBI8.

[2021-08-16 16:36] cescoffier commented on #164
So, if I understand correctly, the Quarkus documentation should be updated to not use /project but /code. Am I right?

[2021-08-16 16:40] d3473r commented on #164
Yeah, any directory except `/project` will work fine. The better fix would be to change the base image, so this image doesn't have to use the
[code]
fix which looks more like a hack

[2021-08-16 16:54] cescoffier commented on #164
I've opened a PR in the Quarkus doc.
Yes, looks a bit hackish, but not sure we can do better at the moment.

[2021-08-16 16:54] #164 closed

[2021-08-31 08:18] crionuke opened #167 "/project dir unmodifiable"
Hi, there
When used Dockerfile to multistage build from [here](https://quarkus.io/guides/building-native-image#multistage-docker)  got next error:
[code]

Think that /project unmodifiable so any changes by RUN ./mvnw -s package just cleared

There is properly Dockerfile for that?

[code]

[2021-08-31 08:21] cescoffier commented on #167
Already fixed: https://quarkus.io/version/main/guides/building-native-image#multistage-docker.

`/projects` is a volume, it should not be used for sharing content between stages. The fun fact is that it works on Mac, but does not work on Linux.

[2021-08-31 08:55] crionuke commented on #167
@cescoffier
Nice, thanks a lot!

But made some fixes to prevent permissions problems with target dir

[code]

[2021-08-31 09:27] cescoffier commented on #167
Do you mean that even with the new one you have permission issues?

[2021-08-31 10:38] crionuke commented on #167
yep, like this - Quarkus code generation phase has failed: Failed to create the output dir /code/target/classes
because ./mvnw package works under quarkus user, but code dir created under root from base image

simple docker file to reproduce

[code]

[2021-08-31 11:56] cescoffier commented on #167
Except that: this pipeline works for me... so it definitely platform specific. I need to test with your permissions to see if that still works.

[2021-09-07 14:22] cescoffier commented on #167
Ok, this is really weird, because it seems that now I need the same permission changes....

[2021-09-08 06:44] cescoffier commented on #167
Opened https://github.com/quarkusio/quarkus/pull/19988.

[2021-09-08 12:02] #167 closed

[2021-09-15 14:09] vaughnmb opened #169 "centos-quarkus-maven image question"
Will the centos-quarkus-maven image be updated to use Java 16/17 or should I be using some other quarkus based image?

[2021-09-15 14:21] cescoffier commented on #169
The centos-quarkus-maven is not going to be updated. It's already in maintenance mode.
The other images will be updated as soon as we have the GraalVM / Mandrel versions.

[2021-09-15 14:29] vaughnmb commented on #169
And by other images are you referring to   quay.io/quarkus/ubi-quarkus-mandrel?

[2021-09-15 14:53] cescoffier commented on #169
These:
[code]

[2021-09-15 14:55] cescoffier commented on #169
The problem with the centos one is that it contains many different tools. It's very hard to keep everything up to date and every time we update one, we broke something. I know it's a convenient image, but I recommend building your own with the tools you need, so an update won't break on your side.

[2021-11-19 08:19] #166 closed

[2021-12-08 15:59] iocanel opened #180 "Executable file not found when args without command is specified"
Using `ubi-quarkus-native-binary-s2i` for binary s2i builds and creating a container using `args` but not `command`, for example:

[code]

results in:

`Error: container create failed: time="2021-10-14T08:03:53Z" level=error msg="container_linux.go:367: starting container process caused: exec: \"ARG1\": executable file not found in $PATH"`

According to: https://kubernetes.io/docs/tasks/inject-dat

[2021-12-28 22:07] celsomarques opened #181 "Help to debug build of quarkus-native"
Hello,

I'm building quarkus native application in two different ways and one works properly and another one don't.

The app is able to connect to Kafka properly when running the docker using this Dockerfile.

[code]

But when building native-sources first and then build native app, the app was not able to connect to Kafka

[code]

application.properties
[code]

Is there any way to find what's goi

[2022-01-03 06:50] cescoffier commented on #181
MY guess is that the native sources do not contain `quarkus.native.additional-build-args=-H:ResourceConfigurationFiles=resources-config.json, -H:ReflectionConfigurationFiles=reflection-config.json`.

[2022-01-03 06:51] cescoffier commented on #181
BTW, this issue should be re-opened in the main quarkus repository, as it's not related to the images.

[2022-01-03 06:52] cescoffier commented on #181
BTW, the reproducer does not work for me, it does not pass the tests.

[2022-01-03 06:54] cescoffier commented on #181
I was wrong, it contains them.

[2022-01-03 07:08] cescoffier commented on #181
Looking at the generated native sources, it does not contain lots of the reflection we need for Kafka.

So, please re-open this issue on the quarkus main repository as it seems to be the missing piece.

[2022-01-03 07:08] #181 closed

[2022-01-09 12:59] debu999 commented on #83
Its been a while any tracktion to this.
To run our apps we do the following for arm64 viz. aarch64
Create a custom container on mac mini which have arm64 arch.

Dockerfile.graalvmaarch64
===================
[code]

to build image app we use the build command
**docker build -f Dockerfile.graalvmaarch64 -t doogle999/quarkus-build-aarch64 .**

Then to build quarkus app with aarch64 we use the same co

[2022-01-09 13:46] cescoffier commented on #83
The problem is that at the moment, we do not have the hardware to make progress on this task. This should be fixed in the next few months.

[2022-01-10 01:13] debu999 commented on #83
Sure no issues, we are anyways using quarkus with arm64, i guess with more Mac's coming up with arm64 and cloud providers giving arm64 hardware, it might be good to add them in for new folks. Overall everyone is able to make things work anyways with workarounds hopefully we get it natively documented and supported soon.

Btw: already shared at https://www.nevernull.io/blog/building-a-native-java-a

[2022-01-25 08:03] nicolas-vivot commented on #169
why the tool image containing maven, graalvm, buildah and postman does not contains postman-docker with the necessary settings so that it can be used for CI ?

I understand the point that it can be "hard" to maintain, but at the same time, we (Quarkus users) are spending a lot of time to redo what you (redhat) have probably already done.

[2022-01-25 08:12] cescoffier commented on #169
First, I didn't know about postman-docker.

Actually, no it's not already done. We don't use this image on CI. It was initially done for Tekton, but that approach got abandoned.

Note that the s2i image contains Maven, Gradle, and GraalVM, which is in general what you would use. What's your requirement regarding container image creation? Asking, because I believe we should provide _something_, but

[2022-01-25 08:25] nicolas-vivot commented on #169
Ok, understand better.

I'm using Quarkus on production for two years now, using the provided runtime image (the distroless native one)

For building, i'm using my own image (java base image with maven & graalvm installed) and since i'm on gitlab i'm using the shared runners there with... docker in docker!

For the reasons we all know, i want to leave from DinD and therefore i have just replaced t

[2022-01-27 09:24] jorsol commented on #83
Also, ideally, this should be multi-arch images like the ubi8 ones, not different images per arch:

`docker manifest inspect --verbose registry.access.redhat.com/ubi8-minimal:8.5`

[2022-01-27 10:23] bentaljaard commented on #83
Hi guys, as part of the Quarkus IOT community we have built a native ARM builder image that makes use of qemu-user-static to allow us to built ARM8 images on x86 machines. https://github.com/qiot-project/qiot-ubi-multiarch.. Please let us know if we could help with this

[2022-01-28 07:22] nicolas-vivot commented on #169
Do you think an update to add the podman-docker package & configure the few things mentioned in the blog is something doable ?

[2022-01-28 08:16] cescoffier commented on #169
Definitely!
Fancy a PR?

[2022-01-31 04:39] nicolas-vivot commented on #169
Since i'm not able to build this project from my station, i won't sorry.

[2022-04-13 16:28] galderz opened #189 "CI is broken due to dependency updates"
CI builds fail as a result of the tooling image failing with:

[code]

This is caused because cekit builds are not reproducible. Up to 3 days ago, `epel-release-latest` resolved to `glibc-devel` version `2.28-196.el8` but it now resolves to `2.28-197.el8` which causes this issue (see [before](https://gist.github.com/galderz/740d59503d9bfb0afadc451b0255ffad) and [after](https://gist.github.com/gald

[2022-04-13 17:52] cescoffier commented on #189
Hum, that's somewhat new (as Sunday build passed), but not surprising.

Once in a while one of the images we use get updated in a non compatible way. My only way to find the reason is to read pages of release notes, to try to understand.

[2022-04-13 17:53] cescoffier commented on #189
Actually with your analysis (thanks for this!), we should be able to work around it.

[2022-04-14 12:39] #189 closed

[2022-04-25 11:17] galderz commented on #83
Thx all for the feedback. We've recently updated this repo to use Cekit 4.1.0, so we should now be able to produce multi arch images (we needed https://github.com/cekit/cekit/pull/761).

I was exploring how multi-arch images work in docker and ended up executing the same command @jorsol suggested above:

[code]

Our immediate targets are linux/amd64 and linux/aarch64, so I'll be focusing on those.

[2022-04-25 13:43] galderz commented on #83
FYI, I'm testing things out in https://github.com/galderz/quarkus-images/pull/3. Still WIP

[2022-04-28 10:58] galderz commented on #83
We've made good progress with Severin's workaround, see https://github.com/galderz/quarkus-images/pull/3. After applying the suggestion above, with a few tweaks, I was able to build multi-arch images on CI (see CI run for https://github.com/galderz/quarkus-images/pull/3/commits/aee10c2f581683f55ee15102f604099d8520d823).

Then I tried to re-enable tests, but the aarch64 ones fail, but not to due to

[2022-05-17 17:38] edeandrea commented on #83
Just throwing my 2 cents in. I'm not sure what cekit is so can't comment on that, but I am [using the buildx builder as a Github action to build JVM multi-arch images](https://github.com/quarkusio/quarkus-super-heroes/blob/ebfcf21d7d880595358d475f4dfc0fad51cfeb31/.github/workflows/build-push-container-images.yml#L24-L94)

In there I am also [manually constructing the manifest lists using the `dock

[2022-07-01 20:15] edeandrea opened #198 "multi-arch images?"
I see on https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tab=tags (as well as some of the other images on quay.io/quarkus) there are multi-arch images, but I don't see a manifest list that combines the images.

As it is now I have to specify a specific image tag for amd64 vs arm64 instead of just saying `quay.io/quarkus/ubi-quarkus-mandrel:22.0-java17` and let it figure out which platform t

[2022-07-01 20:15] edeandrea opened #199 "multi-arch images missing manifest list?"
I see on https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tab=tags (as well as some of the other images on quay.io/quarkus) there are multi-arch images, but I don't see a manifest list that combines the images.

As it is now I have to specify a specific image tag for amd64 vs arm64 instead of just saying `quay.io/quarkus/ubi-quarkus-mandrel:22.0-java17` and let it figure out which platform t

[2022-07-01 20:16] edeandrea commented on #198
Not sure why this got created twice.

[2022-07-01 20:16] #198 closed

[2022-07-07 05:57] cescoffier commented on #199
@edeandrea we are working on a new approach to produce multi-arch images. The current approach is not convenient (and upx does not have the right arch)

[2022-07-29 09:34] galderz commented on #83
I've unassigned me since @cescoffier is working on more comprehensive solution (maybe https://github.com/quarkusio/quarkus-images/pull/200?).

To reiterate, please reply to [this Stackoverflow question](https://stackoverflow.com/questions/71981922/quarkus-mandrel-native-build-running-forever/71998103#71998103) when this is complete.

[2022-08-01 08:38] easen-amp commented on #83
Posting as this might help someone else out...

As a work around in multi-stage docker builds,  instead of
[code]
use
[code]

The end reusult is the same, but ubi-minimal & ubi-micro images both have arm64 images.

[2022-08-09 16:29] alagusundarams opened #205 "CVE-2022-1271 vulnerability reported on UBI-Minimal8.5"
We see a vulnerability been reported as part of the UBI-Minimal:8.5 image from redhat. There is a latest version of UBI-Minimal:8.6 is available can this new image be used as base image for UBI-quarkus-native-image plz.

[2022-08-28 08:43] cescoffier commented on #205
New images should be available soon (in 1 or 2 weeks).

[2022-09-12 16:07] alagusundarams opened #207 "CVE-2022-25857 UBI-QUARKUS-NATIVE-IMAGE"
We have 2 high vulnerabilities reported on all major images of UBI-quarkus-native-image, can this be addressed please.

[2022-09-15 13:16] cescoffier commented on #207
I have updated the images to the latest Ubi 8.5. Unfortunately, it does not seem to fix everything.

[2022-09-18 16:07] cescoffier commented on #83
I've pushed the new images, which are all multi-archs.

[2022-09-18 16:07] #83 closed

[2022-09-27 16:07] danielcamargoeti opened #210 "Native build stuck when running quay.io/quarkus/ubi-quarkus-mandrel:22.2-java11 on an M1 chip"
I am trying to create a native executable but the process hangs indefinitely (see output bellow). I am running it on macOS using an M1 chip.

I've heard people using `ghcr.io/graalvm/graalvm-ce:latest` but the binary file does not run using AWS SAM CLI (that is using this image `ublic.ecr.aws/sam/emulation-provided`).

I am not sure where to go from here. Here is the sample project I am working wi

[2022-09-27 17:46] cescoffier commented on #210
This image does not work on M1, you need to use the https://quay.io/repository/quarkus/ubi-quarkus-mandrel-builder-image image.

[2022-09-28 16:33] danielcamargoeti commented on #210
@cescoffier changing to `quay.io/quarkus/ubi-quarkus-mandrel-builder-image:22.2.0.0-Final-java11` does create the native build, but it is now using a format that won't run when running:

[code]

Here is the output:

[code]

The file is in the container but with a **bad ELF interpreter**:

[code]

[2022-09-28 17:48] cescoffier commented on #210
Yes, you got an ARM 64 container, not a Linux 64 container. Cross-compilation is not supported by graalvm.

I'm working on a way to enable it using qemu, but I'm only at the beginning of the journey.

[2022-09-28 20:08] tasadurian opened #211 "Support for java8 based images"
Is there a plan to support `java8` in the new images? We have been using `centos-quarkus-maven:*-java8` as a base for some applications and would like to upgrade for multi-arch support. I don't see any images tagged with `java8` at this time.

[2022-09-29 04:55] cescoffier commented on #211
No, this image is not maintained anymore:

- Quarkus does not support java 8 since several versions
- this image was always outdated as it included many tools
- doing a multi-archs variants would be pretty hard as some of the included tools are not easy to run on multi-archs (native dependencies)

[2022-09-29 04:56] #211 closed

[2022-10-07 13:57] ghijsma opened #212 "When setting USE_GRADLE = false builds still try to use Gradle"
Using Openshift 4. Using https://quay.io/repository/quarkus/ubi-quarkus-native-s2i. We try to do a build in Openshift with Maven. We can't disable Gradle in the build process. Because of this our builds fail in Openhift. We do not want to add Gradle configs to our repository. We have set USE_GRADLE to false in the build container environment.

[logs:build/jenkins-pipeline-quarkus-test-v1-4] FAILUR

[2022-10-07 14:16] ghijsma commented on #212
Found the solution. Must not use USE_GRADLE. And make sure the CONTEXT_DIR is pointing to the correct folder where the pom.xml resides.

[2022-10-07 17:44] edeandrea commented on #83
Hey @cescoffier circling back to this. When you say you've pushed new images, are those new images

`quay.io/quarkus/ubi-quarkus-mandrel-builder-image` and `quay.io/quarkus/quarkus-micro-image:2.0`?

[2022-10-07 18:07] cescoffier commented on #83
Yes

[2022-10-07 18:09] edeandrea commented on #83
Sweet. I will then tackle getting this into superheroes after Devoxx next week. Not sure I want to tackle that at 2pm on a Friday before being gone for a week :)

What could possibly go wrong? :D

[2022-11-02 15:29] cescoffier commented on #199
Fixed.

[2022-11-02 15:29] #199 closed

[2022-11-02 15:29] cescoffier commented on #205
Images have been updated.

[2022-11-02 15:30] cescoffier commented on #169
Closing - the tooling image is abandoned.

[2022-11-02 15:30] #169 closed

[2022-11-02 15:31] cescoffier commented on #129
The tooling image is abandoned.

[2022-11-02 15:31] #129 closed

[2022-11-02 15:32] cescoffier commented on #80
Fixed, instructions updated.

[2022-11-02 15:33] cescoffier commented on #106
ping @maxandersen - I know it's a long time, but did you do anything?

[2022-11-04 06:47] turbolocust opened #216 "Cannot build native executable with Epsilon GC (graalvmce-s2i, 22.3.0)"
An exception is thrown and the build aborts, when building a native executable using the latest version of the [ubi-quarkus-graalvmce-s2i](https://quay.io/repository/quarkus/ubi-quarkus-graalvmce-s2i) image for the amd64 architecture, which currently is 22.3.0. Using version 22.2.0 of the image, the build succeeds.

The exact error message is:<br />`Error: ImageSingletons do not contain key com.or

[2022-11-04 07:46] zakkak commented on #216
@turbolocust can you please provide more info?

Is this reproducible with a simple HelloWorld?
If so, have you tried using GraalVM with epsilongc outside of Quarkus to see if the issue is present there as well?

Thanks

[2022-11-07 09:22] galderz commented on #216
Something's probably not right with the builder image itself. I've been able to replicate it with:

[code]

[2022-11-11 09:44] galderz commented on #216
Hmm, the issue is not specific to the container image. It also happens when building native executable (at least Quakus) bare metal:

[code]

Once I figured the exact circumstances I'll close this and open a new issue in either quarkus or oracle/graal, depending who's the culprit.

[2022-11-11 10:45] galderz commented on #216
@turbolocust Can you try with the latest Quarkus 2.14.0? I cannot reproduce the issue any more with that version. I was able to reproduce it with 2.13.3.

[2022-11-11 15:04] turbolocust commented on #216
I can confirm that the issue is gone with 2.14.0.Final.

[2022-11-11 15:08] zakkak commented on #216
Now I am curious... (but I also have a hint to why I might have not been able to reproduce :) )

[2022-11-15 11:39] galderz commented on #216
So let's close this issue @turbolocust @cescoffier?

[2022-11-15 12:35] zakkak commented on #216
Please leave this open as it affects 2.13.

The issue is actually caused because 2.13 unconditionally passes `-H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime` to `native-image` and this option is only available when using the `SerialGC`.

In 2.13 it is "fixed" by https://github.com/quarkusio/quarkus/pull/28295.

[2022-11-15 12:43] zakkak commented on #216
On second thought, I am moving this to the Quarkus repository: https://github.com/quarkusio/quarkus/issues/29275

@cescoffier @turbolocust feel free to close this.

[2022-11-15 12:46] turbolocust commented on #216
@zakkak Thank you for the update. I'll close the issue.

[2022-11-15 12:46] #216 closed

[2022-11-16 18:12] zakkak commented on #216
Yes, the check that causes the crash (see https://github.com/oracle/graal/issues/5432) is pretty recent (see https://github.com/oracle/graal/commit/5c4daf504fb8ecb083ec85a55e290aab048cc54b#diff-e651863ba7c44a01ff26ffb9cf23c04c08d9f68f21a6c3bcc0d5e026fa74a77d)